{% from 'macros/render_input.html' import render_input %}
{% extends 'layouts/auth.base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<div class="card fat">
    <div class="card-body">
        <h4 class="card-title">Forgot Password</h4>
        
        <!-- Alert message -->
        {% include 'includes/alert.html' %}

        <form action="#" method="POST" class="form-validation" novalidate="">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="email">E-Mail Address</label>
                {{ render_input(form.email, "", "E-mail address is invalid") }}
                <div class="form-text text-muted">
                    By clicking "Reset Password" we will send a password reset link
                </div>
            </div>

            <div class="form-group m-0">
                <button type="submit" id="submit" class="btn btn-primary btn-block">
                    Send reset link
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block script %}
{{ super() }}
<script>
    $('#submit').click(function(e) {
        e.preventDefault();
        alert('This functionality is not available for the demo.');
    });
</script>
{% endblock %}