{% from 'macros/render_input.html' import render_input %}

{% extends 'layouts/dashboard.base.html' %}
{% block header %}
    {% block title %}Change Password{% endblock %}
{% endblock %}
{% block text %}
    Make sure your password is strong and easy to remember.
{% endblock %}
{% block content %}

<div class="max-w-1000">
    {% include 'includes/alert.html' %}
</div>

<!-- Change Password Form -->
<div class="content-box mb-3 content-lighten max-w-1000">
    <form action="#" method="POST" class="form-validation max-w-800" novalidate="">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password">New Password</label>
                    {{ render_input(form.password, "", "Password must be 6 to 32 characters long", **{"data-eye": ""}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    {{ render_input(form.confirm_password, "", "Confirm password is required", **{"data-eye": ""}) }}
                </div>
            </div>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>

{% endblock %}
{% block script %}
{{ super() }}
<!--
<script>
    $('#submit').click(function(e) {
        e.preventDefault();
        alert('This functionality is not available for the demo.');
    });
</script>
-->
{% endblock %}